{% extends "Staff/staff_basetemplate.html" %}
{% block title %}List of Product Retrieval{% endblock %}

{% block content %}

<style>.label {
  color: white;
  padding: 8px;
}

.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */</style>

<h1 class="display-4">Inventory</h1>
<div>
    {% if count == 0 %}
  <p>There are no orders currently.</p>
  {% elif count == 1 %}
  <p>There is 1 order</p>
  {% else %}
  <p>There are {{ count }} orders.</p>
  {% endif %}
</div>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
          <th>Product ID</th>
        <th>Item Name</th>
        <th>Category</th>
        <th></th>
        <th>Quantity</th>
          <th>price</th>
          <th>Threshold</th>
          <th></th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for supplier in supplier_list %}
          <tr>
        <td>#{{ supplier.get_supplier_id() }}</td>
        <td>{{ supplier.get_description() }}</td>
        <td>{{ supplier.get_category() }}</td>
<!--                            Amri - this is to retrieve image field in static folder-->
        <td></td>
        <td>{{ supplier.get_quantity() }}</td>
        <td>{{ supplier.get_price() }}</td>
<td>
    {% if supplier.get_quantity() < 20 %}
              <label class="badge badge-danger">Low stock</label>
              {% else %}
              <label class="badge badge-success">In stock</label>
              {% endif %}</td>

        <td></td>
        <td>
          <form action="{{url_for('delete_supplier', id=supplier.get_supplier_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger">-->
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal_{{supplier.get_supplier_id()}}">
                  Delete
                </button>



    <!-- The Modal -->
    <div class="modal" id="myModal_{{supplier.get_supplier_id()}}">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Are you sure you want to delete {{supplier.get_full_name()}} {{supplier.get_email()}}?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <input type="submit" value="Delete" class="btn btn-danger">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>

        </div>
      </div>
    </div>

          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

