{% extends "base.html" %}
{% block title %}Member Login{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h2 class="display-4">Login as a member</h2>


<form action="/login" class="form" method="POST">
    <div class="form-group">
    {{ render_field(form.username, class="form-control") }}
  </div>
   <div class="form-group">
    {{ render_field(form.password, class="form-control") }}
  </div>
    <div>
        <input type="submit" value="Login"/>
    </div>
    <p>{{ msg }}</p>
</form>
{% endblock %}