<!DOCTYPE html>
<html lang="zxx" class="no-js">
{% extends "base.html" %}
<!-- Site Title -->
{% block title %}Sports & U{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="static/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
</head>

<body>
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Checkout</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">

            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing Details</h3>
                        <div class="row contact_form" method="POST">
                            <div class="col-md-6 form-group">
                                {{ render_field(form.firstName, class="form-control") }}
                            </div>
                            <div class="col-md-6 form-group">
                                {{ render_field(form.lastName, class="form-control") }}
                            </div>
                            <div class="col-md-6 form-group">
                                {{ render_field(form.phone, class="form-control") }}
                            </div>
                            <div class="col-md-6 form-group">
                                {{ render_field(form.email, class="form-control") }}
                            </div>
                            <!--
                            <div class="col-md-12 form-group">
                                <label for="cselect">Country</label>
                                <select id="scselect" class="country_select">
                                    <option selected="selected" value="1">Singapore</option>
                                    <option value="2">Malaysia</option>
                                    <option value="4">China</option>
                                </select>
                            </div>
                            -->
                            <div class="col-md-12 form-group">
                                {{ form.city.label }}<br>
                                {{ form.city(class_="form-control") }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ render_field(form.address, class="form-control") }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ render_field(form.unit, class="form-control") }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ render_field(form.postal, class="form-control") }}
                            </div>
                        <div class="col-md-12 form-group">
                            <div class="create_account">
                            <h3>Shipping Details</h3>
                            <input type="checkbox" id="shippingcheck" onclick="shipform()" name="selector">
                            <label for="shippingcheck">Ship to a different address?</label>
                            </div>
                        <div id="shippingdetails" style="display:none">
                            <div class="col-md-12 form-group">
                                {{ form.city.label }}<br>
                                {{ form.city(class_="form-control") }}
                            </div>
                            <br>
                            <div class="col-md-12 form-group">
                                {{ render_field(form.address, class="form-control") }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ render_field(form.unit, class="form-control") }}
                            </div>
                            <div class="col-md-12 form-group">
                                {{ render_field(form.postal, class="form-control") }}
                            </div>
                        </div>
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Order Notes"></textarea>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-4">
                            <div class="order_box">
                                <h2>Your Order</h2>
                                <ul class="list">
                                        <li><a href="#">Product Name<span>Total</span></a></li>

                                            {% for supplier in supplier_list %}
                                        <li><a href="#">{{ supplier.get_quantity() }}
                                            <span class="last"></span></a></li>
                                        {% endfor %}
                                </ul>
                                <ul class="list list_2">
                                    <li><a href="#">Subtotal <span>${{ subtotal|sum }}</span></a></li>
                                    <li><a href="#">Shipping <span>Local rate: $5.00</span></a></li>
                                    <li><a href="#">Total <span>${{ (subtotal|sum) + 5 }}</span></a></li>
                                </ul>
                                <div class="creat_account">
                                    <input type="checkbox" id="tnc" name="selector" onclick="billbtn()">
                                    <label for="tnc">I’ve read and accept the<a href=""> terms & conditions*</a></label>
                                </div>
                                <a id="billingbtn" href="" ><input type="submit" value="Billing" class="genric-btn primary" style="width:100%"onclick="billbtn2()"/></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->

    <!-- start footer Area -->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">

                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="" id="mc_embed_signup">

                            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="form-inline">

                                <div class="d-flex flex-row">
                                    <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i></button>
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                            type="text">
                                    </div>
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget mail-chimp">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
</body>
{% endblock %}
</html>
